/cmd/gotraceui/gotraceui
/cmd/gotraceui/gotraceui.test
/_traces
/doc/manual/manual.pdf
/doc/manual/gotraceui.pdf
/doc/manual/*.log
/doc/manual/*.tuc
/doc/manual/*.toc
/doc/manual/*.out
/doc/manual/*.aux
/doc/manual/*.bbl
/doc/manual/*.bcf
/doc/manual/*.blg
/doc/manual/*.fdb_latexmk
/doc/manual/*.fls
/doc/manual/*.run.xml
/gotraceui.pdf
*.pprof
